@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
	--custom-primary-gold: #f8d110;
	--custom-secondary-black: #0a0a0b;
	--custom-black: #000000;
	--custom-black-2: #1a1a1a;
	--color-E3E3E3: #E3E3E3;
	--color-discord: #4F71F9;
}


*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

body{
/*	font-family: "Helvetica Neue", sans-serif !important;*/
	font-family: "Helvetica Neue", sans-serif !important;
	font-size: max(0.9vmin,16px);
	letter-spacing: 0.3px;
}


/* Common Classes start*/
	
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1200px;
	}

	.custom-text-decoration-underline{
		text-decoration: underline !important;
	}
	.custom-text-decoration-underline-hover:hover{
		text-decoration: underline !important;
	}

	.font-weight-500{
		font-weight: 500 !important;
	}
	.navbar-dark .navbar-nav .nav-link {
		color: rgba(255,255,255,1);
	}
	.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {

		color: var(--custom-primary-gold);
	}

	.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
		color: var(--custom-primary-gold);
	}

	.brand-logo-text{
		font-size: 38px;
	}

	.fs-18{
		font-size: 18px;
	}
	.fs-20{
		font-size: 20px;
	}
	.fs-32{
		font-size: 32px;
	}
	.fs-46{
		font-size: 46px;
	}

	.i--1{
		z-index: -1 !important;
	}

	.mt-10p{
		margin-top: 10%;
	}

	.mt-20p{
		margin-top: 20%;
	}

	.mb-30px{
		margin-bottom: 30px;
	}
	.mb-50px{
		margin-bottom: 50px;
	}
	.mb-100px{
		margin-bottom: 100px;
	}
	.mb-125px{
		margin-bottom: 125px;
	}

	.pl-70px{
		padding-left: 70px;
	}
	.pr-lg-70px{
		padding-right: 70px;
	}
	.pl-150px{
		padding-left: 150px;
	}
	.pr-lg-150px{
		padding-right: 150px;
	}

	.p-120tb-30lr{
		padding: 120px 30px;
	}

	.min-ht-50vh{
		min-height: 50vh !important;
	}
	.min-ht-100vh{
		min-height: 100vh !important;
	}

	.custom-container-padding {
		transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 100px 30px 100px 30px;
	}

	.custom-light-text{
		font-size: 20px;
		font-weight: normal;
		line-height: 28px;
		color: var(--color-E3E3E3);
	}

	.discord-section-heading {
		color: #FFFFFF;
		
		font-size: 26px;
		font-weight: 600;
	}

	.discord-section-text{
		color: #E1E1E1;
		
		font-size: 19px;
		font-weight: 500;
	}

	.discord-section{
		padding: 45px 0px 40px 0px;
		border-radius: 20px;
	}

	#subscriptionEmail{
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.subscriptionButton{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

/* Common Classes end*/


.bg-discord-section{
	background-color: var(--color-discord);
}

.text-custom-primary-gold{
	color: var(--custom-primary-gold) !important;
}
.bg-custom-primary-gold{
	background-color: var(--custom-primary-gold) !important;
}

.text-custom-secondary-black{
	color: var(--custom-secondary-black) !important;
}
.bg-custom-secondary-black{
	background-color: var(--custom-secondary-black) !important;
}
.text---color-E3E3E3{
	color: var(--color-E3E3E3) !important;
}
.bg---color-E3E3E3{
	background-color: var(--color-E3E3E3) !important;
}
.text-custom-black{
	color: var(--custom-black) !important;
}
.bg-custom-black{
	background-color: var(--custom-black) !important;
}
.text-custom-black-2{
	color: var(--custom-black-2) !important;
}
.bg-custom-black-2{
	background-color: var(--custom-black-2) !important;
}

.btn {
	padding: 8px 24px !important;
	border-radius: 3px;
	transition: all 0.3s !important;
	height: calc(1.5em + .75rem + 2px);
}

.btn.bg-white:hover{
	color: #FFF !important;
	background-color: #1C1C1E !important;

}

.btn.bg-dark:hover {
	color: #1C1C1E !important;
	background-color: #FFF !important;
}

.boder-custom-primary-gold{
	border-color: var(--custom-primary-gold) !important;
}

.tr-top-0{
	top: 0 !important;
} 

.tr-top-10per{
	top: 10% !important;
} 
.tr-left-0
{
	left: 0 !important;
} 
.tr-left-25
{
	left: 25% !important;
}
/*=========== Header Banner ===========*/

.tradereplay-community-container,.tradereplay-banner-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 22px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tradereplay-banner-text {
	
	font-size: 20px !important;
	margin-bottom: 0;
	font-weight: 500;
}

/*===========Header sectio start============*/

	.header-section-content-container{
		height: 100vh;
	}

	/*.header-section-content-container  .container{
		background-image: url("../images/header-bg-image.jpg");
		background-size: 100% 100%;
		background-position: bottom !important;
		background-repeat: no-repeat;
	}*/


	.tradereplay-header-container{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 100px 30px 50px 30px;
		flex-direction: column;
	}

	.tradereplay-header-container > *{
		margin-bottom: 25px;
	}

	.community-section-content-heading, .header-section-content-heading {
		font-size: 72px;
		font-weight: bold;
		font-style: normal;
		line-height: 86px;
		color: transparent;
		background: linear-gradient(45deg, var(--custom-primary-gold), #CB72FE, #48DEFF 100%);
		background-clip: text;
		text-align: center;
		width: 75%;
		margin-bottom: 20px;
	}

	.header-section-content-text {
		width: 50%;
		text-align: center;
		color: #FFFFFF;
		
		font-size: 28px;
		font-weight: 400;
		font-style: normal;
		line-height: 36px;
		margin-bottom: 20px;
	}

/*===========Header sectio start============*/

/*=========About Start===========*/
	.about-icon-container{
		height: 60px;
		width: 130px !important;
		margin-right: 15px;
		border-radius: 50%;
		/*display: flex;
		justify-content: center;
		align-items: center;*/
		background: linear-gradient(45deg, var(--custom-primary-gold), #CB72FE, #48DEFF 100%);
		padding: 1px;
	}

	.about-icon-container > div{
		border-radius: 50%;
	}

/*=========About End===========*/

/*======= Features Start ========*/

	.get-started-heading,.features-section-heading {
		color: #FFFFFF;
		font-size: 64px;
		font-weight: bold;
		line-height: 77px;
	}

/*======= Features End ==========*/

/*======= founder statement start =====*/
	.founder-statement-text {
		line-height: 64px;
		letter-spacing: -0.16px;
		text-align: justify;
		text-align-last: center;
	}

	.founder-statement-img-container{
		background: linear-gradient(45deg, var(--custom-primary-gold), #CB72FE, #48DEFF 100%);
		padding: 2px;
	}

/*======= founder statement end =======*/

/*======= Get Started =================*/
.get-started-img{

	filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
	border-radius: 6px 6px 6px 6px;
	box-shadow: -1px 0px 50px 3px rgba(248, 209, 16, 0.3);
	transition: transform 0.3s;
}



.get-started-img:hover{
	transform: translate(1%,-1%);
}

/*======= Get Started End =============*/

/*======== Community started ==========*/
	.tradereplay-community-container{
		flex-direction: column !important;
	}

	.community-section-content-heading{
		font-size: 64px !important;
	}



.item_container{
	background-color: #000000;
	border-radius: 12px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	border: 1px solid #383838;
	margin: 10px 15px;
}

.item_container > .card > i.position-absolute{
	top: 10%;
	right: 1%;
	color: #38efff;
	font-size: 24px;
}

.item_container .card-body{
	padding: 0;
}

.item_container .card-text, .item_container .card-title {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: -0.16px;
	color: #FFFFFF;
	margin: 0;
}

.item_container .card-subtitle {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.16px;
	color: #C4C4C4;
	margin: 0;
}

.item_container .card-text{
	font-weight: 400;
	margin-bottom: 15px;
}
/*======== Community ended ============*/

/*========== Footer Starts============*/

.footer-common-text{
	text-align: left;
	color: #C4C4C4;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 19px;
}

.copyright-text {
	text-align: left;
	color: #C4C4C4;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 19px;
}

.footer-list-heading {
	color: #686868;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 20px;
}

.footer-list-link {
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 20px;
}

.footer-social-link{

}

.footer-social-link .fa-twitter:hover{
	color: #38efff;
}
.footer-social-link .fa-facebook:hover{
	color: #1655d2;
}
.footer-social-link .fa-youtube:hover{
	color: #ff0000;
}
.footer-social-link .fa-linkedin:hover{
	color: #0f44a0;
}
.footer-social-link .fa-instagram:hover{
	color: transparent;
	background: linear-gradient(to right, #c32aa3,#4c5fd7,#7232bd,#f46f30,#ffdc7d);
	background-clip: text !important;
}

/*========== Footer Ends==============*/